<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../phone-number-validation/build/css/demo.css">
    <link rel="stylesheet" href="../phone-number-validation/build/css/intlTelInput.css">
    <title>Document</title>
</head>
<body>
    <input type="tel" id="phone">

    <script src="../phone-number-validation/build/js/intlTelInput.js"></script>
    <script src="../phone-number-validation/build/js/data.js"></script>
    <script src="../phone-number-validation/build/js/data.min.js"></script>
    <script src="../phone-number-validation/build/js/intlTelInput-jquery.js"></script>
    <script src="../phone-number-validation/build/js/intlTelInput-jquery.min.js"></script>
    <script src="../phone-number-validation/build/js/intlTelInput.min.js"></script>
    <script src="../phone-number-validation/build/js/utils.js"></script>





    <script>
        var input = document.querySelector("#phone_primary");
        window.intlTelInput(input, {});
    </script>
</body>
</html>