{% extends "layout.html" %}

{% block title %} My huge thanks to CS50 {% endblock %}

{% block main %}

<div class="row g-3" style="margin-bottom: 30px; margin-top: 30px;">
    <div class="col-6" style="margin-left: auto; margin-right: auto;">
        <div class="card border-primary">
            <h3 class="card-header text-centered">Expressing Gratitude to the CS50 Team:<br> A Thank You Note</h3>
            <div class="card-body">
            <h5 class="card-title">Dear CS50 Team, </h5>
            <p class="card-text">I wanted to take a moment to express my heartfelt gratitude to each and every member of the CS50 team, especially David Malan, Brian Yu, Carter Zenky, and Doug Lloyd. 
                Completing CS50 has been an incredibly enriching and rewarding experience, and I couldn't have asked for better guidance and support throughout the course.</p>
            <p class="card-text">
                David Malan's engaging lectures and passion for teaching have made the world of computer science accessible and exciting. 
                Brian Yu's dedication to helping students understand complex concepts and his approachability have been invaluable. 
                Carter Zenky's and Doug Lloyd's contributions have undoubtedly played a significant role in creating a seamless and enjoyable learning experience.
            </p>
            <p class="card-text">
                The CS50 journey has not only equipped me with a strong foundation in computer science but has also fostered a love for problem-solving and programming. 
                The collaborative spirit and the meticulous curriculum design have made this course stand out, making the learning process both challenging and enjoyable.
            </p>
            <p class="card-text">
                Thank you for your tireless efforts, dedication, and commitment to fostering a supportive learning environment. 
                Your impact goes far beyond the confines of the virtual classroom, and I am truly grateful for the knowledge and skills I've gained under your guidance.
            </p>
            <p class="card-text">
                Warm regards,
            </p>
            <p class="card-text">
                Muhammad Karimov
            </p>
            </div>
        </div>
    </div>
</div>

<div class="row g-3" style="margin-bottom: 30px;">
    <div class="col-6" style="margin-left: auto; margin-right: auto;">
        <div class="alert alert-primary" role="alert">
            Here you can email me sharing your feedback and/or any suggestions to improve the user experience:<br>
            <a href="mailto:shermuhammad.karimov2004@mail.ru" class="btn btn-primary" style="margin-top: 10px;">shermuhammad.karimov2004@mail.ru</a>
        </div>
    </div>
</div>

{% endblock %}